[build]
rustc-wrapper = "/home/yohanan/.cache/cargo/bin/sccache"

[target.x86_64-unknown-linux-gnu]
linker = "/usr/bin/clang"
rustflags = [
    # "-Clink-arg=-fuse-ld=lld", # FIXME: not working for some ungodly reason
    "-Zshare-generics=y",
]

[target.x86_64-pc-windows-gnu]
linker = "/usr/bin/x86_64-w64-mingw32-gcc"
ar = "/usr/bin/x86_64-w64-mingw32-ar"
