/* *|*:root { */
/*     --tab-min-height: 30px !important; */
/* } */

/* /1* Change tab height *1/ */
/* #tabbrowser-tabs, */
/* #tabbrowser-tabs > #tabbrowser-arrowscrollbox, */
/* .tabbrowser-tabs .tabbrowser-tab, */
/* #urlbar-container, */
/* #search-container */
/* { */
/*     min-height: var(--tab-min-height) !important; */
/*     max-height: var(--tab-min-height) !important; */
/* } */

/* https://github.com/va9iff/firefox-single-row-layout/ */

:root {
  --navbar-width: 50vw;
  --navbar-width-focused: 1000px;
  --url-max-width-not-focused: 800px;
  /* tabs-width is the remaining part */
}

/* prevent urlbar from pushing the icons */
#urlbar-container {
  max-width: var(--url-max-width-not-focused);
}

/* rise the url bar to top and margin from right to shrink its width */
#nav-bar {
  margin: -44px calc(100vw - var(--navbar-width)) 0px 0px !important;
}

/* give empty space in tabs' left for placing navbar */
#TabsToolbar {
  -moz-padding-start: var(--navbar-width) !important;
}

/* make navbar longer when focused */
#nav-bar:has(#urlbar[open]){
  margin: -44px calc(100vw - var(--navbar-width-focused)) 0px 0px !important;
}

/* move tabs bar even more left when focused */
body:has(#urlbar[open]) #TabsToolbar {
  -moz-padding-start: var(--navbar-width-focused) !important;
}

/* make url field grow to url container when focused */
body:has(#urlbar[open]) #urlbar-container{
  max-width: 100vw !important;
}
